body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    color: aliceblue;
    background-color: black;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title img {
    width: 200px;
    height: 100px;
}

.title ul li {
    display: inline-block;
    list-style: none;
    margin: 2px 4px;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.navbar p {
    font-size: 1rem;
}

.images {
    display: flex;
    height: 80vh;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.images1 {
    width: 70%;
    position: relative;
}

.text{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(15, 15, 15, 0); /* Optional background color for better readability */
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.musicIcon{
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
    background-color: #01aef0; /* Optional background color for better readability */
    /* padding: px; */
    align-items: center;
    height: 25px;
    width: 75px;
    /* font-size: 1rem; */
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.musicIcon h5{
    /* font-size: 1rem; */
    margin-top: 5%;
    margin-left: 18%;
}

.profile{ 
    position: absolute;
    top: 90%;
    left: 16%;
    transform: translate(-50%, -50%);
    /* background-color: #fcfeff; Optional background color for better readability */
    /* padding: px; */
    align-items: center;
    height: 25px;
    width: 75px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
} 





.images1 img {
    width: 100%;
    height: 100%;
}

.images2 {
    width: 30%;
}

.images2 img {
    width: 100%;
    height: 48%;
}

/* -----------------artical section -------------------- */

.articals{
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(3,400px);
    grid-template-columns: repeat(3,310px);
    gap: 20px;
    justify-content: center;
    background-color: rgb(251, 253, 255);
}
.artical1{
    background-color: rgb(247, 247, 247);
    height: 110vh;
}
.artical1 img{
    height: 40%;
    width: 100%;
}
.artical1 .date{
   
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.6rem;
    display: block;
    color: #858585;
}
.artical1 .entry-data > h2{
    color: black;
    margin-left: 10%;
    line-height: 1;
    margin-bottom: 0.6rem;
    font-family: "metropolis-medium", sans-serif;
}
.artical1 p{
    color: black;
    font-family: "metropolis-medium", sans-serif;
    left: 3%;
    line-height: 1.8;
    /* margin-bottom: 0.6rem; */
    margin-left: 10%;
  }
